body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:222px;
  top:76px;
  width:400px;
  height:664px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:664px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:222px;
  top:76px;
  width:400px;
  height:74px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:74px;
}
#u3 {
  position:absolute;
  left:2px;
  top:29px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:282px;
  top:87px;
  width:46px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:237px;
  top:94px;
  width:33px;
  height:33px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:581px;
  top:96px;
  width:24px;
  height:24px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:280px;
  top:116px;
  width:20px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:310px;
  top:120px;
  width:19px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:536px;
  top:650px;
  width:60px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:222px;
  top:180px;
  width:400px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:234px;
  top:190px;
  width:42px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:433px;
  top:182px;
  width:36px;
  height:36px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:480px;
  top:182px;
  width:36px;
  height:36px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:526px;
  top:182px;
  width:36px;
  height:36px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:222px;
  top:796px;
  width:400px;
  height:664px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:664px;
}
#u27 {
  position:absolute;
  left:2px;
  top:324px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:222px;
  top:796px;
  width:400px;
  height:74px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:74px;
}
#u29 {
  position:absolute;
  left:2px;
  top:29px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:282px;
  top:807px;
  width:46px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:237px;
  top:814px;
  width:33px;
  height:33px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:581px;
  top:816px;
  width:24px;
  height:24px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:280px;
  top:836px;
  width:20px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:310px;
  top:840px;
  width:19px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:536px;
  top:1370px;
  width:60px;
  height:60px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u41 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:222px;
  top:900px;
  width:400px;
  height:40px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:234px;
  top:910px;
  width:42px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:433px;
  top:902px;
  width:36px;
  height:36px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:480px;
  top:902px;
  width:36px;
  height:36px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u49 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:526px;
  top:902px;
  width:36px;
  height:36px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:572px;
  top:900px;
  width:50px;
  height:40px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:222px;
  top:238px;
  width:400px;
  height:40px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:234px;
  top:248px;
  width:71px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:433px;
  top:240px;
  width:36px;
  height:36px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u59 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:480px;
  top:240px;
  width:36px;
  height:36px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u61 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:526px;
  top:240px;
  width:36px;
  height:36px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u63 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:562px;
  top:195px;
  width:110px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  height:1px;
}
#u65 {
  position:absolute;
  left:572px;
  top:238px;
  width:50px;
  height:40px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:672px;
  top:160px;
  width:365px;
  height:64px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:64px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:1102px;
  top:144px;
  width:228px;
  height:96px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:96px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:972px;
  top:179px;
  width:120px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u72 {
  position:absolute;
  left:622px;
  top:253px;
  width:50px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u73 {
  position:absolute;
  left:672px;
  top:247px;
  width:246px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:222px;
  top:796px;
  width:400px;
  height:664px;
  opacity:0.5;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:664px;
}
#u76 {
  position:absolute;
  left:2px;
  top:324px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:190px;
  top:126px;
  width:47px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:30px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:47px;
  height:1px;
}
#u78 {
  position:absolute;
  left:11px;
  top:123px;
  width:169px;
  height:48px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:48px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:222px;
  top:880px;
  width:400px;
  height:580px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:580px;
}
#u81 {
  position:absolute;
  left:2px;
  top:282px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:240px;
  top:826px;
  width:42px;
  height:42px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u83 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:256px;
  top:867px;
  width:10px;
  height:14px;
}
#u84_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u84_end {
  position:absolute;
  left:-5px;
  top:-3px;
  width:20px;
  height:18px;
}
#u84_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:14px;
}
#u85 {
  position:absolute;
  left:222px;
  top:1087px;
  width:400px;
  height:50px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u86 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:294px;
  top:1097px;
  width:87px;
  height:24px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:238px;
  top:1097px;
  width:45px;
  height:30px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:222px;
  top:1137px;
  width:400px;
  height:50px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u92 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:294px;
  top:1147px;
  width:87px;
  height:24px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:238px;
  top:1147px;
  width:45px;
  height:30px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:222px;
  top:1187px;
  width:400px;
  height:50px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u98 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:294px;
  top:1197px;
  width:87px;
  height:24px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:238px;
  top:1197px;
  width:45px;
  height:30px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:222px;
  top:880px;
  width:400px;
  height:70px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u104 {
  position:absolute;
  left:2px;
  top:27px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:238px;
  top:891px;
  width:70px;
  height:50px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u106 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:316px;
  top:891px;
  width:49px;
  height:24px;
  font-size:20px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:318px;
  top:920px;
  width:26px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:366px;
  top:920px;
  width:26px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:222px;
  top:949px;
  width:400px;
  height:70px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u114 {
  position:absolute;
  left:2px;
  top:27px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:238px;
  top:960px;
  width:70px;
  height:50px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u116 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:316px;
  top:960px;
  width:49px;
  height:24px;
  font-size:20px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:318px;
  top:989px;
  width:26px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:366px;
  top:989px;
  width:26px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:222px;
  top:1018px;
  width:400px;
  height:70px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u124 {
  position:absolute;
  left:2px;
  top:27px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:238px;
  top:1029px;
  width:70px;
  height:50px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u126 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:316px;
  top:1029px;
  width:49px;
  height:24px;
  font-size:20px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:318px;
  top:1058px;
  width:26px;
  height:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:366px;
  top:1058px;
  width:26px;
  height:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:180px;
  top:1157px;
  width:58px;
  height:10px;
}
#u133_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_end {
  position:absolute;
  left:41px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_line {
  position:absolute;
  left:0px;
  top:5px;
  width:58px;
  height:1px;
}
#u134 {
  position:absolute;
  left:39px;
  top:1147px;
  width:144px;
  height:32px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:339px;
  top:836px;
  width:180px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u137 {
  position:absolute;
  left:2px;
  top:3px;
  width:176px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:915px;
  top:250px;
  width:47px;
  height:10px;
}
#u138_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_end {
  position:absolute;
  left:30px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_line {
  position:absolute;
  left:0px;
  top:5px;
  width:47px;
  height:1px;
}
#u139 {
  position:absolute;
  left:640px;
  top:943px;
  width:322px;
  height:10px;
}
#u139_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u139_end {
  position:absolute;
  left:305px;
  top:-5px;
  width:18px;
  height:20px;
}
#u139_line {
  position:absolute;
  left:0px;
  top:5px;
  width:322px;
  height:1px;
}
#u140 {
  position:absolute;
  left:79px;
  top:977px;
  width:104px;
  height:16px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:183px;
  top:980px;
  width:45px;
  height:10px;
}
#u142_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u142_end {
  position:absolute;
  left:28px;
  top:-5px;
  width:18px;
  height:20px;
}
#u142_line {
  position:absolute;
  left:0px;
  top:5px;
  width:45px;
  height:1px;
}
#u143 {
  position:absolute;
  left:672px;
  top:128px;
  width:308px;
  height:32px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:32px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:500px;
  top:150px;
  width:172px;
  height:10px;
}
#u145_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u145_end {
  position:absolute;
  left:155px;
  top:-5px;
  width:18px;
  height:20px;
}
#u145_line {
  position:absolute;
  left:0px;
  top:5px;
  width:172px;
  height:1px;
}
#u146 {
  position:absolute;
  left:495px;
  top:156px;
  width:10px;
  height:24px;
}
#u146_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u146_end {
  position:absolute;
  left:-5px;
  top:7px;
  width:20px;
  height:18px;
}
#u146_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:24px;
}
#u147 {
  position:absolute;
  left:957px;
  top:210px;
  width:10px;
  height:740px;
}
#u147_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u147_end {
  position:absolute;
  left:-5px;
  top:723px;
  width:20px;
  height:18px;
}
#u147_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:740px;
}
#u148 {
  position:absolute;
  left:183px;
  top:920px;
  width:41px;
  height:10px;
}
#u148_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u148_end {
  position:absolute;
  left:24px;
  top:-5px;
  width:18px;
  height:20px;
}
#u148_line {
  position:absolute;
  left:0px;
  top:5px;
  width:41px;
  height:1px;
}
#u149 {
  position:absolute;
  left:26px;
  top:917px;
  width:157px;
  height:16px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:222px;
  top:1236px;
  width:400px;
  height:70px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u152 {
  position:absolute;
  left:2px;
  top:27px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:238px;
  top:1247px;
  width:70px;
  height:50px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u154 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:316px;
  top:1247px;
  width:49px;
  height:24px;
  font-size:20px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:318px;
  top:1276px;
  width:26px;
  height:16px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:366px;
  top:1276px;
  width:26px;
  height:16px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:222px;
  top:1305px;
  width:400px;
  height:70px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u162 {
  position:absolute;
  left:2px;
  top:27px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:238px;
  top:1316px;
  width:70px;
  height:50px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u164 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:316px;
  top:1316px;
  width:49px;
  height:24px;
  font-size:20px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:318px;
  top:1345px;
  width:26px;
  height:16px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:366px;
  top:1345px;
  width:26px;
  height:16px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:539px;
  top:96px;
  width:31px;
  height:29px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u172 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
