body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1160px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:227px;
  top:76px;
  width:400px;
  height:664px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:664px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:227px;
  top:76px;
  width:400px;
  height:114px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:114px;
}
#u3 {
  position:absolute;
  left:2px;
  top:49px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:287px;
  top:97px;
  width:56px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:242px;
  top:94px;
  width:33px;
  height:33px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:586px;
  top:96px;
  width:24px;
  height:24px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:287px;
  top:154px;
  width:20px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:317px;
  top:158px;
  width:19px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:541px;
  top:650px;
  width:60px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:197px;
  top:104px;
  width:45px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:28px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:45px;
  height:1px;
}
#u17 {
  position:absolute;
  left:97px;
  top:101px;
  width:120px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:610px;
  top:104px;
  width:47px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:30px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:47px;
  height:1px;
}
#u20 {
  position:absolute;
  left:657px;
  top:77px;
  width:417px;
  height:48px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:48px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:552px;
  top:150px;
  width:58px;
  height:24px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:197px;
  top:161px;
  width:80px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u26 {
  position:absolute;
  left:87px;
  top:146px;
  width:105px;
  height:112px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:112px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:610px;
  top:158px;
  width:47px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:30px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:47px;
  height:1px;
}
#u29 {
  position:absolute;
  left:657px;
  top:154px;
  width:105px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:601px;
  top:675px;
  width:56px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:39px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:56px;
  height:1px;
}
#u33 {
  position:absolute;
  left:657px;
  top:669px;
  width:157px;
  height:32px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:32px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:474px;
  top:150px;
  width:58px;
  height:24px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:498px;
  top:174px;
  width:10px;
  height:46px;
}
#u38_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u38_end {
  position:absolute;
  left:-5px;
  top:29px;
  width:20px;
  height:18px;
}
#u38_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:46px;
}
#u39 {
  position:absolute;
  left:504px;
  top:214px;
  width:143px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:126px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:143px;
  height:1px;
}
#u40 {
  position:absolute;
  left:772px;
  top:157px;
  width:205px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:188px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:205px;
  height:1px;
}
#u41 {
  position:absolute;
  left:757px;
  top:217px;
  width:150px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  height:1px;
}
#u42 {
  position:absolute;
  left:902px;
  top:163px;
  width:10px;
  height:60px;
}
#u42_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u42_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u42_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u43 {
  position:absolute;
  left:977px;
  top:158px;
  width:183px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:267px;
  top:239px;
  width:198px;
  height:48px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:48px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:503px;
  top:230px;
  width:10px;
  height:20px;
}
#u47_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u47_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u47_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u48 {
  position:absolute;
  left:464px;
  top:244px;
  width:44px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:44px;
  height:1px;
}
#u49 {
  position:absolute;
  left:566px;
  top:284px;
  width:10px;
  height:366px;
}
#u49_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u49_end {
  position:absolute;
  left:-5px;
  top:349px;
  width:20px;
  height:18px;
}
#u49_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:366px;
}
#u50 {
  position:absolute;
  left:379px;
  top:279px;
  width:193px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:176px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:193px;
  height:1px;
}
#u51 {
  position:absolute;
  left:647px;
  top:208px;
  width:97px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:197px;
  top:420px;
  width:80px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u55 {
  position:absolute;
  left:20px;
  top:392px;
  width:197px;
  height:288px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:288px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:267px;
  top:307px;
  width:110px;
  height:33px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:281px;
  top:315px;
  width:83px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:539px;
  top:96px;
  width:31px;
  height:29px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u62 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:42px;
  top:50px;
  width:508px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:491px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:508px;
  height:1px;
}
#u64 {
  position:absolute;
  left:544px;
  top:56px;
  width:10px;
  height:36px;
}
#u64_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u64_end {
  position:absolute;
  left:-5px;
  top:19px;
  width:20px;
  height:18px;
}
#u64_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:36px;
}
#u65 {
  position:absolute;
  left:38px;
  top:55px;
  width:10px;
  height:337px;
}
#u65_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u65_end {
  position:absolute;
  left:-5px;
  top:320px;
  width:20px;
  height:18px;
}
#u65_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:337px;
}
#u66 {
  position:absolute;
  left:498px;
  top:34px;
  width:209px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:180px;
  top:312px;
  width:87px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:70px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:87px;
  height:1px;
}
#u69 {
  position:absolute;
  left:114px;
  top:312px;
  width:66px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
