body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:76px;
  width:400px;
  height:664px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:664px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:160px;
  top:76px;
  width:400px;
  height:114px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:114px;
}
#u3 {
  position:absolute;
  left:2px;
  top:49px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:220px;
  top:97px;
  width:56px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:175px;
  top:94px;
  width:33px;
  height:33px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:519px;
  top:96px;
  width:24px;
  height:24px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:220px;
  top:154px;
  width:20px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:250px;
  top:158px;
  width:19px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:474px;
  top:650px;
  width:60px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:485px;
  top:150px;
  width:58px;
  height:24px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:407px;
  top:150px;
  width:58px;
  height:24px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:200px;
  top:239px;
  width:222px;
  height:48px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:48px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:436px;
  top:230px;
  width:10px;
  height:20px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u23 {
  position:absolute;
  left:422px;
  top:244px;
  width:19px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:19px;
  height:1px;
}
#u24 {
  position:absolute;
  left:499px;
  top:284px;
  width:10px;
  height:306px;
}
#u24_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u24_end {
  position:absolute;
  left:-5px;
  top:289px;
  width:20px;
  height:18px;
}
#u24_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:306px;
}
#u25 {
  position:absolute;
  left:312px;
  top:279px;
  width:193px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:176px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:193px;
  height:1px;
}
#u26 {
  position:absolute;
  left:580px;
  top:297px;
  width:162px;
  height:32px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:32px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:170px;
  top:892px;
  width:400px;
  height:664px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:664px;
}
#u29 {
  position:absolute;
  left:2px;
  top:324px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:170px;
  top:892px;
  width:400px;
  height:114px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:114px;
}
#u31 {
  position:absolute;
  left:2px;
  top:49px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:230px;
  top:912px;
  width:56px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:185px;
  top:910px;
  width:33px;
  height:33px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:529px;
  top:912px;
  width:24px;
  height:24px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:230px;
  top:970px;
  width:20px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:260px;
  top:974px;
  width:19px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:486px;
  top:908px;
  width:29px;
  height:29px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:484px;
  top:1466px;
  width:60px;
  height:60px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u45 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:495px;
  top:966px;
  width:58px;
  height:24px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:170px;
  top:892px;
  width:400px;
  height:664px;
  opacity:0.5;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:664px;
}
#u49 {
  position:absolute;
  left:2px;
  top:324px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:170px;
  top:1074px;
  width:400px;
  height:300px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:300px;
}
#u51 {
  position:absolute;
  left:2px;
  top:142px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:295px;
  top:1162px;
  width:57px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:295px;
  top:1207px;
  width:43px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:188px;
  top:1020px;
  width:42px;
  height:42px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u57 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:204px;
  top:1061px;
  width:10px;
  height:14px;
}
#u58_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end {
  position:absolute;
  left:-5px;
  top:-3px;
  width:20px;
  height:18px;
}
#u58_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:14px;
}
#u59 {
  position:absolute;
  left:570px;
  top:1140px;
  width:90px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u60 {
  position:absolute;
  left:650px;
  top:329px;
  width:10px;
  height:821px;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:804px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:821px;
}
#u61 {
  position:absolute;
  left:243px;
  top:1151px;
  width:42px;
  height:38px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:38px;
}
#u62 {
  position:absolute;
  left:2px;
  top:11px;
  width:38px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:243px;
  top:1199px;
  width:42px;
  height:38px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:38px;
}
#u64 {
  position:absolute;
  left:2px;
  top:11px;
  width:38px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:160px;
  top:850px;
  width:421px;
  height:32px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:32px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:431px;
  top:1156px;
  width:50px;
  height:34px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:34px;
}
#u68 {
  position:absolute;
  left:2px;
  top:9px;
  width:46px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:348px;
  top:1213px;
  width:272px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u70 {
  position:absolute;
  left:620px;
  top:1213px;
  width:200px;
  height:48px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:580px;
  top:200px;
  width:180px;
  height:64px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:64px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:431px;
  top:174px;
  width:10px;
  height:46px;
}
#u74_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u74_end {
  position:absolute;
  left:-5px;
  top:29px;
  width:20px;
  height:18px;
}
#u74_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:46px;
}
#u75 {
  position:absolute;
  left:437px;
  top:214px;
  width:143px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:126px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:143px;
  height:1px;
}
#u76 {
  position:absolute;
  left:681px;
  top:235px;
  width:149px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:132px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:149px;
  height:1px;
}
#u77 {
  position:absolute;
  left:840px;
  top:76px;
  width:400px;
  height:664px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:664px;
}
#u78 {
  position:absolute;
  left:2px;
  top:324px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:840px;
  top:76px;
  width:400px;
  height:114px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:114px;
}
#u80 {
  position:absolute;
  left:2px;
  top:49px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:900px;
  top:97px;
  width:56px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:855px;
  top:94px;
  width:33px;
  height:33px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u84 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1199px;
  top:96px;
  width:24px;
  height:24px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:900px;
  top:154px;
  width:20px;
  height:20px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:930px;
  top:158px;
  width:19px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:1154px;
  top:650px;
  width:60px;
  height:60px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u92 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1165px;
  top:150px;
  width:58px;
  height:24px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1087px;
  top:150px;
  width:58px;
  height:24px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u96 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:880px;
  top:239px;
  width:198px;
  height:48px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:48px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:1116px;
  top:230px;
  width:10px;
  height:20px;
}
#u99_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u99_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u99_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u100 {
  position:absolute;
  left:1077px;
  top:244px;
  width:44px;
  height:10px;
}
#u100_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_line {
  position:absolute;
  left:0px;
  top:5px;
  width:44px;
  height:1px;
}
#u101 {
  position:absolute;
  left:1179px;
  top:284px;
  width:10px;
  height:306px;
}
#u101_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u101_end {
  position:absolute;
  left:-5px;
  top:289px;
  width:20px;
  height:18px;
}
#u101_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:306px;
}
#u102 {
  position:absolute;
  left:992px;
  top:279px;
  width:193px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:176px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:193px;
  height:1px;
}
#u103 {
  position:absolute;
  left:988px;
  top:200px;
  width:113px;
  height:16px;
  color:#CCCCCC;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:840px;
  top:76px;
  width:400px;
  height:664px;
  opacity:0.5;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:664px;
}
#u106 {
  position:absolute;
  left:2px;
  top:324px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:900px;
  top:239px;
  width:294px;
  height:221px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:221px;
}
#u108 {
  position:absolute;
  left:2px;
  top:102px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:926px;
  top:299px;
  width:266px;
  height:48px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:48px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:970px;
  top:407px;
  width:60px;
  height:33px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u112 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1069px;
  top:407px;
  width:60px;
  height:33px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u114 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:840px;
  top:790px;
  width:400px;
  height:664px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:664px;
}
#u116 {
  position:absolute;
  left:2px;
  top:324px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:840px;
  top:790px;
  width:400px;
  height:114px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:114px;
}
#u118 {
  position:absolute;
  left:2px;
  top:49px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:900px;
  top:811px;
  width:56px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:855px;
  top:808px;
  width:33px;
  height:33px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u122 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1199px;
  top:810px;
  width:24px;
  height:24px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u124 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:900px;
  top:868px;
  width:20px;
  height:20px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u126 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:930px;
  top:872px;
  width:19px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:1154px;
  top:1364px;
  width:60px;
  height:60px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u130 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1165px;
  top:864px;
  width:58px;
  height:24px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u132 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1087px;
  top:864px;
  width:58px;
  height:24px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u134 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:880px;
  top:953px;
  width:198px;
  height:48px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:48px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:1116px;
  top:944px;
  width:10px;
  height:20px;
}
#u137_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u137_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u137_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u138 {
  position:absolute;
  left:1077px;
  top:958px;
  width:44px;
  height:10px;
}
#u138_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_line {
  position:absolute;
  left:0px;
  top:5px;
  width:44px;
  height:1px;
}
#u139 {
  position:absolute;
  left:1179px;
  top:998px;
  width:10px;
  height:306px;
}
#u139_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u139_end {
  position:absolute;
  left:-5px;
  top:289px;
  width:20px;
  height:18px;
}
#u139_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:306px;
}
#u140 {
  position:absolute;
  left:992px;
  top:993px;
  width:193px;
  height:10px;
}
#u140_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_end {
  position:absolute;
  left:176px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_line {
  position:absolute;
  left:0px;
  top:5px;
  width:193px;
  height:1px;
}
#u141 {
  position:absolute;
  left:988px;
  top:914px;
  width:113px;
  height:16px;
  color:#CCCCCC;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:840px;
  top:790px;
  width:400px;
  height:664px;
  opacity:0.5;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:664px;
}
#u144 {
  position:absolute;
  left:2px;
  top:324px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:900px;
  top:953px;
  width:294px;
  height:221px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:221px;
}
#u146 {
  position:absolute;
  left:2px;
  top:102px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:943px;
  top:1011px;
  width:235px;
  height:48px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:48px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:970px;
  top:1121px;
  width:60px;
  height:33px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u150 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:1069px;
  top:1121px;
  width:60px;
  height:33px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u152 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:670px;
  top:251px;
  width:110px;
  height:10px;
}
#u153_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u153_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u153_line {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  height:1px;
}
#u154 {
  position:absolute;
  left:774px;
  top:255px;
  width:10px;
  height:709px;
}
#u154_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u154_end {
  position:absolute;
  left:-5px;
  top:692px;
  width:20px;
  height:18px;
}
#u154_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:709px;
}
#u155 {
  position:absolute;
  left:780px;
  top:958px;
  width:56px;
  height:10px;
}
#u155_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u155_end {
  position:absolute;
  left:39px;
  top:-5px;
  width:18px;
  height:20px;
}
#u155_line {
  position:absolute;
  left:0px;
  top:5px;
  width:56px;
  height:1px;
}
#u156 {
  position:absolute;
  left:320px;
  top:1029px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u157 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:936px;
  top:364px;
  width:144px;
  height:16px;
}
#u159 {
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u158_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u160 {
  position:absolute;
  left:943px;
  top:1074px;
  width:144px;
  height:16px;
}
#u161 {
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u160_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u162 {
  position:absolute;
  left:478px;
  top:94px;
  width:31px;
  height:29px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u163 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:200px;
  top:297px;
  width:110px;
  height:33px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u165 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:214px;
  top:305px;
  width:83px;
  height:16px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
